.techs {
  /* height: 70vh; */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 90%;
}
.title {
  font-family: Darker Grotesque;
  font-size: 6vw;
}
.tech-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* grid-template-columns: 2fr 2fr 2fr 2fr 2fr; */
}
.tech {
  height: 90px;
  width: 90px;
  border-radius: 0.3rem;
  border: 1px solid #fefefe;
  background: rgba(217, 217, 217, 0.2);
}
@media screen and (max-width: 480px){
  .techs{
    min-height: 50vh;
  }
  .tech{
    height: 50px;
    width: 50px;
  }
}